* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  background-color: #1F2937; 
  padding: 20px 0;
  display: flex;
  justify-content: center; 
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.signup,
.login,
.profile {
  font-size: 18px;
  color: #E5E7EB;
}

.signup {
  margin-left: auto;
}

.login, .profile {
  margin-left: 20px;
}

.hero-container {
  color: #5995DA;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  flex-direction: column;
}

.signup-button {
  align-self: flex-start;
}

.button {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}

.hero-title {
  font: 48px bolder;
  color: #F9FAF8;
}

.hero-subtitle {
 color: #E5E7EB;
 font-size: 18px;
 margin-top: 10px;
}

.hero-image img {
  width: 600px;
  padding: 20px;
}

.photo-grid-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo-grid {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.info-header {
  margin: 50px 30px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.photo-grid-item {
  border: 5px solid #848df0;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}


.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.quote {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
}

.quote-text {
  justify-content: center;
  font: italic 1.8em "Fira Sans", sans-serif;
}

.author {
  padding-top: 15px;
  color: blue;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  background-color: #1F2937;
  height: 100px;
  flex: 1;
}

